.header {
    position: fixed;
    left: 0;
    right: 0;
    height: var(--header-height);
    background-color: var(--black-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}

.navbar-list-item-link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    padding: 0px 10px;
    height: var(--header-height);
}

.navbar-list-item-link--home {
    background-color: var(--main-color);
}

.navbar-list-item-link:hover {
    color: var(--black-color);
    background-color: var(--white-color);
}

.navbar-list-item-link:hover .icon {
    color: var(--black-color)
}

.dropdown {
    position: relative;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown:hover .dropdown-list {
    display: block;
    cursor: pointer;
}

.dropdown-list {
    position: absolute;
    top: 40px;
    left: 0;
    padding-left: 0;
    width: 100%;
    background-color: var(--gray-color);
    list-style: none;
    display: none;
    box-shadow: 0 0 3px var(--black-color);
}

.dropdown-item {
    width: 100%;
}

.dropdown-item-link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px 0;
}

.navbar-search {
    display: flex;
    float: left;
    align-items: center;
}


.navbar-search-item--input {
    width: 400px;
    height: 24px;
    font-size: 1.3rem;
    border-radius: unset;
    border-style: unset;
}

.navbar-search-item--button {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0px 4px;
    background-color: var(--main-color);
    cursor: pointer;
}

.icon {
    color: var(--white-color);
    font-size: 1.3rem;
    padding: 0 2px;
}

.container {
    height: 2000px;
}

