* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------------------NAV BAR ----------------------- */
.header {
    position: fixed;
    left: 0;
    right: 0;
    height: var(--header-height);
    background-color: var(--black-color);
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}

.navbar-list-item-link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    padding: 0px 10px;
    height: var(--header-height);
}

.navbar-list-item-link--home {
    background-color: var(--main-color);
}

.navbar-list-item-link:hover {
    color: var(--black-color);
    background-color: var(--white-color);
}

.navbar-list-item-link:hover .icon {
    color: var(--black-color);
}

.dropdown {
    position: relative;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown:hover .dropdown-list {
    display: block;
    cursor: pointer;
}

.dropdown-list {
    position: absolute;
    top: 40px;
    left: 0;
    padding-left: 0;
    width: 100%;
    background-color: var(--gray-color);
    list-style: none;
    display: none;
    box-shadow: 0 0 3px var(--black-color);
}

.dropdown-item {
    width: 100%;
}

.dropdown-item-link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px 0;
}

.navbar-search {
    display: flex;
    float: left;
    align-items: center;
}

.navbar-search-item--input {
    width: 400px;
    height: 24px;
    font-size: 1.3rem;
    border-radius: unset;
    border-style: unset;
}

.navbar-search-item--button {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0px 4px;
    background-color: var(--main-color);
    cursor: pointer;
}

.icon {
    color: var(--white-color);
    font-size: 1.3rem;
    padding: 0 2px;
}

.container {
    height: 2000px;
    position: relative;
}

.cover-photo {
    position: relative;
    top: var(--header-height);
}

.cover-photo--img {
    background-image: url('https://www.w3schools.com/w3images/sailboat.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

.cover-photo--button {
    position: absolute;
    bottom: 7%;
    left: 3%;
    display: inline-block;
    padding: 20px 24px;
    background-color: var(--gray-color);
    font-size: 30px;
    font-weight: 300;
    color: var(--white-color);
    cursor: pointer;
}

.cover-photo--button:hover {
    background-color: var(--main-color);
}

/* ---------------------- TEAM -------------------- */
#team {
    margin-top: var(--header-height);
}

#team .image {
    border-radius: 70px;
    width: 45%;
}

#team .all_photos {
    display: block;
    border: 3px solid;
    width: 50%;
    justify-items: center;
}

#team .photo {
    display: inline-block;
    width: 24%;
    text-align: center;
    margin-top: 20px;
}

#team .title1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

#team .text2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 450;
}

/* ---------------------- WORK --------------------- */

#work .content-container {
    background-color: #333333;
    color: white;
    font-family: Verdana, sans-serif;
    position: relative;
    font-size: 15px;
    line-height: 1.5;
    padding: 64px 8px 64px 8px;
    display: flex;
    justify-content: space-between;
    margin-left: -1rem;
    flex-flow: row nowrap;
}

#work #paragraph {
    height: 500px;
    padding: 0 8px;
}

#work .content {
    flex: 1;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

#work .card img {
    width: 100%;
    object-fit: contain;
}

#work .description {
    padding-left: 10px;
}

#work .card {
    background-color: white;
    color: black;
}

#work .more {
    background-color: #009688;
    color: #fff;
    font-size: 24px;
    position: absolute;
    bottom: -28px;
    right: 24px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#work #button {
    margin: auto;
    width: 60%;
    height: 50px;
    text-align: center;
    margin-top: 5px;
}

/* -----------PRICING---------------- */
#price {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.price-title {
    margin-top: 50px;
    width: 100%;
}

.price-title .heading {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
}

.price-title .description {
    text-align: center;
    font-size: 17px;
    margin-top: 10px;
}

.price-table {
    margin: 0px 8px;
    display: flex;
}

.package {
    margin: 30px 10px 100px;
    width: 100%;
    font-family: Verdana, sans-serif;
}

.package:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: box-shadow 0.3s ease-in-out;
}

.price-table .table-heading th {
    font-size: 24px;
    font-weight: normal;
    height: 80px;
    padding: 8px 16px;
    background-color: black;
    color: white;
}

.price-table .package:nth-child(2) .table-heading th {
    background-color: #666666 !important;
}

.price-table .table-row {
    height: 55px;
    font-size: 15px;
    text-align: center;
}

.price-table table,
.price-table th,
.price-table td {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.price-table .table-button-cell {
    height: 80px;
    text-align: center;
    background-color: #f0f0f0;
}

.price-table .price-button {
    height: 50px;
    width: 120px;
    background-color: #009688;
    color: white;
    border: none;
    font-size: 14px;
}

.price-table .table-price-cell {
    height: 90px;
    color: gray;
}

.price-table .table-price-cell b {
    color: black;
    font-size: 26px;
    font-weight: 200;
}

/* --------------- Contact ---------------------- */
#contact {
    display: inline-block;
    width: 100%;
    padding: 40px 20px;
    font-family: Verdana, sans-serif;
    background-color: #f0f0f0;
}

.contact-info {
    width: 35%;
    float: left;
    margin-left: 5px;
}

.contact-table {
    float: right;
    width: 64%;
}

.contact-heading span {
    font-size: 25px;
    font-weight: 300;
    display: inline-block;
}

.contact-heading .heading-underline {
    height: 5px;
    width: 100%;
    background-color: #009688;
}

.contact-title {
    margin-top: 12px;
    font-size: 22px;
}

.contact-description {
    margin-top: 14px;
    font-size: 15px;
}

.list-contact li {
    list-style-type: none;
    margin-top: 14px;
    font-size: 14px;
}

.list-contact li i {
    color: #009688;
    font-size: 18px;
}

.contact-table form {
    width: 80%;
    margin: auto;
    height: 280px;
    background-color: white;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.contact-table-row {
    height: 26%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    margin: 5px 0;
}

.contact-table-row input[type='text'] {
    line-height: 30px;
    font-size: 18px;
    border: none;
}

.contact-table .table-button-cell {
    position: relative;
    height: 22%;
}

.contact-table .table-checkbox {
    position: absolute;
    bottom: 18px;
    left: 0;
    font-size: 15px;
}

.contact-table input[type='submit'] {
    position: absolute;
    bottom: 12px;
    right: 0;
    font-size: 15px;
    padding: 8px;
    width: 80px;
    color: white;
    background-color: #009688;
    border: none;
}

/* -------------------- */
#map img {
    width: 100%;
}
